@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

:root {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: #f8eccb;
    --color-primary-varient: #c69b74;
    --color-secondary: #092021;
    --color-secondary-varient: #062f26;
    --font-primary: "Tajawal";
    --font-accent: "Cigra";
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }

    .my-custom-gradient {
        background: linear-gradient(
                135deg,
                #092021,
                #062f26
        );
    }

    .scrolling-wrapper {
        width: max-content;
        display: flex;

        animation: scroll-left-to-right 180s linear infinite;
    }

    @keyframes scroll-left-to-right {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(50%);
        }
    }


}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
